---
import Carta from "@/components/Carta.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import PreCarta from "@/components/PreCarta.astro";
import Galeria from "@/components/Galeria.astro";
import Reserva from "@/components/Reserva.astro";
import Contacto from "@/components/Contacto.astro";
import Privacy from "@/components/Privacy.astro";
import Footer from "@/components/Footer.astro";

import "@fontsource/vidaloka";
import "@fontsource-variable/baloo-2";

const nonce = crypto.randomUUID().replace(/-/g, "");
Astro.response.headers.set(
	"Content-Security-Policy",
	`default-src 'self'; script-src 'self' https://js.hcaptcha.com https://newassets.hcaptcha.com https://cdn.jsdelivr.net https://web3forms.com 'nonce-${nonce}'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self'; frame-src https://js.hcaptcha.com https://newassets.hcaptcha.com; connect-src 'self' https://newassets.hcaptcha.com https://web3forms.com; object-src 'none'; base-uri 'none'; frame-ancestors 'none';`,
);
---

<Layout
	nonce={nonce}
	title="Restaurante La Trilogía - Cocina Mediterránea"
	description="Restaurante la Trilogía es conocida en Valencia por su tradición en la dieta mediterránea. Pescados, carnes, arroces, ensaladas y postres. Haz tu reserva."
>
	<Header nonce={nonce} />
	<main>
		<Hero />
		<PreCarta />
		<Carta />
		<Galeria nonce={nonce} />
		<Reserva />
		<Contacto />
		<Privacy />
	</main>
	<Footer />
</Layout>
