---
import Carta from "@/components/Carta.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";

import '@fontsource/vidaloka';
import "@fontsource-variable/baloo-tammudu-2";
import PreCarta from "@/components/PreCarta.astro";
---

<Layout>
	<Header />
	<main>
		<Hero />
		<PreCarta />
		<Carta />
	</main>
</Layout>
