---
import Admin from "@/components/Admin";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Intranet - Restaurante La Trilogía"
    description="Página restringida para empleados del Restaurante La Trilogía"
>
    <Header />
    <main>
        <Admin client:visible />
    </main>
    <Footer />
</Layout>
