---
import Header from "@/components/Header.astro";
import Privacidad from "@/components/PoliticaPrivacidad.astro";
import Layout from "@/layouts/Layout.astro";

import '@fontsource/vidaloka';
import "@fontsource-variable/baloo-tammudu-2";

import Footer from "@/components/Footer.astro";
import Privacy from "@/components/Privacy.astro";
---

<Layout>
	<Header />
	<main>
		<Privacidad />
		<Privacy />
	</main>
	<Footer />
</Layout>
