---
import Header from "@/components/Header.astro";
import Cookies from "@/components/PoliticaCookies.astro";
import Layout from "@/layouts/Layout.astro";

import '@fontsource/vidaloka';
import "@fontsource-variable/baloo-tammudu-2";

import Footer from "@/components/Footer.astro";
import Privacy from "@/components/Privacy.astro";
---

<Layout title="Política de Cookies - Restaurante La Trilogía" description="Aprende cómo gestionamos tus preferencias de cookies y qué tipos de cookies utilizamos para mejorar la experiencia de navegación y personalización en nuestro sitio.">
	<Header />
	<main>
		<Cookies />
		<Privacy />
	</main>
	<Footer />
</Layout>
