<div class="flex items-center mb-12 flex-row">
    <input
        required
        id="default-checkbox"
        type="checkbox"
        value=""
        class="size-6 text-blue-600 bg-gray-100 border-gray-300 rounded
             focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2
              dark:bg-gray-700 dark:border-gray-600"
    />

    <label
        for="default-checkbox"
        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >He leído y acepto la <a
            href="/politica-privacidad"
            class="hover:text-button">Política de Privacidad</a
        > de la empresa*</label
    >

    <div
        class="empty-feedback invalid-feedback text-red-400 text-sm mt-1 pl-2 text-left"
    >
        Obligatorio aceptar la Política de Privacidad
    </div>
</div>