---
import Section from "@/layouts/Section.astro";
---

<Section>
    <div>
        <p>
            La Trilogía nace del bonito significado de la triada mediterránea,
            formada por los tres productos básicos de nuestra tierra valenciana:
            el pan, el vino y el aceite de oliva. Los platos que salen de
            nuestra cocina están elaborados con ingredientes de calidad y
            alimentos frescos y de temporada. La cocina de La Trilogía es
            conocida en Valencia por su tradición en la dieta mediterránea.
            Pescados, carnes, arroces, ensaladas y postres deliciosos,
            presentados con elegancia y esmero para que disfrutes de la comida
            con los cinco sentidos. Descubre nuestras cartas, tan claras como el
            mar.
        </p>
    </div>
</Section>
