---
import Section from "@/layouts/Section.astro";

const BUTTONS = [
    {
        title: "La carta",
    },
    {
        title: "Menú grupos empresas",
    },
];
---

<Section>
    <div class="flex flex-col md:flex-row justify-evenly gap-4 md:gap-1">
        {
            BUTTONS.map(({ title }) => (
                <button class="uppercase bg-button rounded-full text-xl text-white pt-3 px-8">
                    {title}
                </button>
            ))
        }
    </div>
</Section>
