---
import Section from "@/layouts/Section.astro";
import cartaUrl from '@/assets/pdf/carta-restaurante-latrilogia_vf.pdf';
import menuUrl from '@/assets/pdf/carta-menu-empresas-restaurante-la-trilogia-2022.pdf';

type Button = {
    title: string;
    url: string;
}

const BUTTONS:Button[] = [
    {
        title: "La carta",
        url: cartaUrl,
    },
    {
        title: "Menú grupos empresas",
        url: menuUrl,
    },
];
---

<Section>
    <div class="flex flex-col md:flex-row justify-evenly gap-4 md:gap-1">
        {
            BUTTONS.map(({ title, url }) => (
                <button class="uppercase bg-button rounded-full text-xl text-white py-2 px-4 hover:text-black transition duration-500 ease-in">
                    <a href={url} target="_blank" >
                    {title}
                </a>
                </button>
            ))
        }
    </div>
</Section>
