---
const year = new Date().getFullYear();
---


<footer
    class="bg-hero-footer w-full bg-no-repeat bg-cover bg-center-top min-h-[550px] relative"
>
    <div class="w-full mx-auto text-center absolute bottom-0 pb-5">
        <p>La Trilogía © Copyright {year} · Web creada por Silwonder&Co.</p>
    </div>
</footer>