---

---

<form
    action="https://api.web3forms.com/submit"
    method="POST"
    id="form"
    class="needs-validation"
    data-astro-reload
    novalidate
>
    <input
        type="hidden"
        name="access_key"
        value="ecfd492c-5690-4951-9be2-b678fecf204e"
    />
    <input
        type="hidden"
        name="from_name"
        value="Formulario web Restaurante La Trilogia"
    />

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
        <div class="mb-5">
            <input
                type="text"
                placeholder="Nombre"
                required
                class="w-full px-4 py-3 border placeholder:text-slate-400 rounded-md outline-none focus:ring-4 border-slate-300 focus:border-slate-600 ring-slate-100"
                name="name"
            />
            <div
                class="empty-feedback invalid-feedback text-red-400 text-sm mt-1 p-2 text-left"
            >
                Ingresa tu nombre
            </div>
        </div>

        <div class="mb-5">
            <label for="email_address" class="sr-only">Email</label><input
                id="email_address"
                type="email"
                placeholder="Email"
                name="email"
                required
                class="w-full px-4 py-3 border placeholder:text-slate-400 rounded-md outline-none focus:ring-4 border-slate-300 focus:border-slate-600 ring-slate-100"
            />
            <div class="empty-feedback text-red-400 text-sm mt-1 p-2 text-left">
                Ingresa tu email
            </div>
            <div
                class="invalid-feedback text-red-400 text-sm mt-1 p-2 text-left"
            >
                Ingresa un email válido
            </div>
        </div>

        <div class="mb-5">
            <input
                type="text"
                placeholder="Asunto"
                class="w-full px-4 py-3 border placeholder:text-slate-400 rounded-md outline-none focus:ring-4 border-slate-300 focus:border-slate-600 ring-slate-100"
                name="subject"
            />
            <div
                class="empty-feedback invalid-feedback text-red-400 text-sm mt-1 p-2 text-left"
            >
                Ingresa el asunto
            </div>
        </div>
    </div>

    <div class="mb-3">
        <textarea
            name="message"
            required
            placeholder="Mensaje"
            class="w-full px-4 py-3 border placeholder:text-slate-400 rounded-md outline-none h-36 focus:ring-4 border-slate-300 focus:border-slate-600 ring-slate-100"
        ></textarea>
        <div
            class="empty-feedback invalid-feedback text-red-400 text-sm mt-1 pl-2 text-left"
        >
            Ingresa tu mensaje
        </div>
    </div>

    <div class="flex items-center mb-12 flex-row">
        <input
            required
            id="default-checkbox"
            type="checkbox"
            value=""
            class="size-6 text-blue-600 bg-gray-100 border-gray-300 rounded
                 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2
                  dark:bg-gray-700 dark:border-gray-600"
        />
        <label
            for="default-checkbox"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >He leído y acepto la Política de Privacidad de la empresa*</label
        >

        <div
            class="empty-feedback invalid-feedback text-red-400 text-sm mt-1 pl-2 text-left"
        >
            Obligatorio aceptar la Política de Privacidad
        </div>
    </div>

    <!-- hCaptcha: Recommended for Advanced Spam Protection. -->
    <div
        class="h-captcha"
        data-captcha="true"
        data-lang="es"
        data-size="compact"
    >
    </div>

    <button
        type="submit"
        class="hover:text-black transition ease-in duration-300 bg-button px-10 pb-2 pt-4 uppercase rounded-full text-white mt-8"
        >Enviar</button
    >
    <div id="result" class="mt-3 text-left"></div>
</form>

<style>
    .invalid-feedback,
    .empty-feedback {
        display: none;
    }

    .was-validated :placeholder-shown:invalid ~ .empty-feedback {
        display: block;
    }

    .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
        display: block;
    }

    .is-invalid,
    .was-validated :invalid {
        border-color: #dc3545;
    }
</style>

<script is:inline>
    // use astro:page-load event if you are using View Transitions

    document.addEventListener(
        "DOMContentLoaded",
        () => {
            const form = document.getElementById("form");
            const result = document.getElementById("result");

            form.addEventListener("submit", function (e) {
                e.preventDefault();
                form.classList.add("was-validated");
                if (!form.checkValidity()) {
                    form.querySelectorAll(":invalid")[0].focus();
                    return;
                }
                const formData = new FormData(form);
                const object = Object.fromEntries(formData);
                const json = JSON.stringify(object);

                result.innerHTML =
                    '<span class="text-green-500">Enviando...</span>';

                fetch("https://api.web3forms.com/submit", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "application/json",
                    },
                    body: json,
                })
                    .then(async (response) => {
                        let json = await response.json();
                        if (response.status == 200) {
                            result.classList.add("text-green-500");
                            result.innerHTML = "Email enviado correctamente.";
                        } else {
                            console.log(response);
                            result.classList.add("text-red-500");
                            result.innerHTML = json.message;
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                        result.innerHTML = "Algo fué mal, inténtalo de nuevo.";
                    })
                    .then(function () {
                        form.reset();
                        form.classList.remove("was-validated");
                        setTimeout(() => {
                            result.style.display = "none";
                        }, 5000);
                    });
            });
        },
        { once: true },
    );
</script>
