---
import Section from "@/layouts/Section.astro";
const title = "La trilogía de los placeres mediterráneos:";
const subtitle = "comida saludable, clima y ambiente inmejorables";
const heroImg = "/bg_latrilogia.webp";
---

<Section>
  <div
    class="relative w-full max-md:min-h-[400px] md:h-[560px] lg:h-screen overflow-hidden"
  >
    <picture>
      <source srcset="/bg_latrilogia-768.webp" media="(max-width: 560px)" />
      <img
        src="/bg_latrilogia.webp"
        alt="Restaurante La Trilogía hero image"
        width="1920"
        height="1080"
        loading="eager"
        decoding="async"
        fetchpriority="high"
        class="absolute h-full w-full object-cover -z-10"
      />
    </picture>

    <div
      class="flex flex-col text-pretty justify-center text-black items-center
      text-center h-full max-md:pt-20 md:pb-32 text-xl md:text-4xl"
    >
      <h2>{title}</h2>
      <h3 class="font-semibold">
        {subtitle}
      </h3>
    </div>
  </div>
</Section>
