---
import Section from "@/layouts/Section.astro";
---

<Section>
    <div class="w-full absolute z-10 flex flex-col items-center justify-center pt-48 top-0 md:bottom-0 text-center">
        <h2 class="text-xl md:text-4xl">La trilogía de los placeres mediterráneos:</h2>
        <h3 class="text-xl md:text-4xl font-semibold">comida saludable, clima y ambiente inmejorables</h3>
    </div>
</Section>
