---
import Section from "@/layouts/Section.astro";
---

<Section>
    <div
        class="mx-auto bg-hero-pattern w-full pt-20 lg:h-svh
            bg-cover bg-center md:bg-top bg-no-repeat md:bg-cover"
    >
        <div
            class="flex flex-col text-center pb-60 md:pt-32 px-2"
        >
            <h2 class="text-xl md:text-4xl">
                La trilogía de los placeres mediterráneos:
            </h2>
            <h3 class="text-xl md:text-4xl font-semibold">
                comida saludable, clima y ambiente inmejorables
            </h3>
        </div>
    </div>
</Section>
