---
import Section from "@/layouts/Section.astro";
const cdnImage = import.meta.env.CDN_DOMAIN;

const bellota = `${cdnImage}/assets/img/bellota.webp`;
const oliva = `${cdnImage}/assets/img/oliva.webp`;

const IMAGES = [
    {
        url: bellota,
        classes: "hidden xl:block absolute -ml-16 pt-36 w-80",
    },
    {
        url: oliva,
        classes: "hidden xl:block absolute right-0 pt-36 w-80",
    },
];
---

<Section>
    <div>
        <div>
            {
                IMAGES.map(({ url, classes }) => (
                    <img class={classes} src={url} />
                ))
            }
        </div>
    </div>
</Section>
