---
import Section from "@/layouts/Section.astro";
import bellota from '@/assets/img/bellota.webp';
import oliva from '@/assets/img/oliva.webp';

const IMAGES = [
    {
        url: bellota.src,
        classes: "hidden xl:block absolute -ml-16 pt-36 w-80",
    },
    {
        url: oliva.src,
        classes: "hidden xl:block absolute right-0 pt-36 w-80",
    },
];
---

<Section>
    <div>
        <div>
            {
                IMAGES.map(({ url, classes }) => (
                    <img class={classes} src={url} />
                ))
            }
        </div>
    </div>
</Section>
