---
import Section from "@/layouts/Section.astro";

const CONTENT = [
    { text: "Aviso Legal", url: "/aviso-legal" },
    { text: "Política de Privacidad", url: "/politica-privacidad" },
    { text: "Política de Cookies", url: "politica-cookies" },
];
---

<Section>
    <div class="max-w-screen-xl mx-auto px-4 xl:px-10">
        <ul class="flex flex-col justify-end items-end">
            {
                CONTENT.map(({ text, url }) => (
                    <li class="hover:text-button transition ease-in duration-300 cursor-pointer">
                        <a href={url}> {text}</a>
                    </li>
                ))
            }
        </ul>
    </div>
</Section>
