---
import Section from "@/layouts/Section.astro";
import pan from "@/assets/img/pan.webp";
const text = [
    `Disfruta de los mejores platos de la <span class="font-semibold"> cocina mediterránea</span> en una de las <span class="font-semibold">zonas más modernas y urbanitas</span> de la ciudad de <span class="font-semibold">València</span>.`,
];
---

<Section>
    <div class="flex justify-center py-2 md:py-10">
        <div class="hidden xl:block absolute right-0">
            <img class="w-72" src={pan.src} alt="" title="" />
        </div>
        <div class="gap-10 justify-center flex flex-col">
            <button
                class="hover:text-black transition ease-in mx-auto uppercase bg-button rounded-full text-xl text-white pt-3 px-8"
            >
                <a
                    href="https://elobrador.myrestoo.net/es/reservar"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Reservar
                </a>
            </button>
            <div class="w-full md:w-2/3 text-center mx-auto">
                <p set:html={text} />
            </div>
        </div>
    </div>
</Section>
