<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Astro Basics</title>
		<script
			is:inline
			src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"
		></script>
	</head>
	<body>
		<slot />
		<script src="https://web3forms.com/client/script.js" async defer
		></script>
	</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
	}
	body {
		font-family: "Baloo Tammudu 2 Variable", system-ui;
		margin: 0;
		width: 100%;
		height: 100vh;
	}
	@media (reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
